{% extends 'base1.html.twig' %}


{% form_theme passwordRequestForm _self %}
{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{% block title %}Renouvellement du mot de passe{% endblock %}
 
{% block body %}
    {% for message in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger"> {{ message }}</div>
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <h1 class="h3 mb-3 font-weight-normal">Renouveler le mot de passe</h1>
                <p>Demandez à réinitialiser votre mot de passe en renseignant votre mail.</p>

                <p>Vous recevrez un email, vous donnant un lien de retour.</p>
                {{ form_start(passwordRequestForm, {
                    'attr': {'class': 'form-signin'}
                }) }}
                {{ form_row(passwordRequestForm.email, {
                    'attr': { placeholder: 'Votre email'}
                }) }}
                
                {{ form_widget(passwordRequestForm) }}

                <button name="send" class="btn btn-lg btn-primary btn-block" type="submit">
                    Envoyer
                </button>
                {{ form_end(passwordRequestForm) }}
            </div>
        </div>
    </div>
{% endblock %}