{% extends 'base1.html.twig' %}
{% form_theme resetPasswordForm _self %}
{% block form_row %}
    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}

    {{- form_label(form, null, {
        label_attr: { class: 'sr-only' }
    }) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}
{% endblock %}

{% block title %}Reset password{% endblock %}
 
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="h3 mb-3 font-weight-normal">Renouvellement du mot de passe</h1>
                {{ form_start(resetPasswordForm, {
                    'attr': {'class': 'form-signin'}
                }) }}
                {{ form_row(resetPasswordForm.plainPassword.first, {
                    'attr': { placeholder: 'Votre mot de passe'}
                }) }}
                {{ form_row(resetPasswordForm. plainPassword.second, {
                    'attr': { placeholder: 'Confirmez votre mot de passe'}
                }) }}
                {{ form_widget(resetPasswordForm) }}
                <button name="send" class="btn btn-lg btn-primary btn-block" type="submit">
                    Envoyer
                </button>
                {{ form_end(resetPasswordForm) }}
            </div>
        </div>
    </div>
{% endblock %} 

