{% extends "base1.html.twig" %}
{% block title %} Accueil {% endblock %}

{% block titre3 %} <p>Secrétariat du jury de {{ centre }}</p>
    <p> Liste des équipes</p>

{% endblock %}

{% block navigation %}

    {{ include ("cyberjuryCia/navigation.html.twig") }}


{% endblock %}

{% block body %}

    {% for equipe in equipes %}
        {% set infos =  equipe.id ~ '-'~'interacadémique'~'-'~'' %}
        <p>
            <a class="btn btn-primary btn-lg"
               href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': infos} ) }}">{{ equipe.numero }}</a>
            {{ equipe.titreProjet }}
        </p>
    {% endfor %}


{% endblock %}
