{% extends "base1.html.twig" %}
{% block title %} Classement des équipes du sous jury {% endblock %}

{% block titre3 %} Classement des équipes de mon sous-jury à partir du nombre de points<br>
    <div class="smallsize" title="Ce total regroupe tous les jurés ayant examiné l'équipe">Ce total est la moyenne des
        points attribués par les jurés ayant examiné l'équipe, en tenant compte du mémoire
    </div>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_ORGACIA') %}
        {{ include ("cyberjuryCia/navigation.html.twig") }}
    {% elseif is_granted('ROLE_JURYCIA') %}
        {{ include ("cyberjuryCia/navigationJury.html.twig") }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rang</th>
                <th>Éq.</th>
                <th>Projet</th>
                <th title="points">Points</th>
                <th>Conseils-Remarques</th>
            </tr>
            </thead>
            <tbody>
            {% for key , rang in rangs %}
                <tr>
                    {% for equipe in equipes %}
                        {% if key == equipe.id %}
                            <th>{{ loop.index }}  </th>
                            <td>
                                <button type="button" class="btn btn-primary btn-lg">{{ equipe.numero }}</button>
                            </td>

                            <td> {{ equipe.titreProjet }} </td>
                            <td>{{ rang }} </td>

                            <td>
                                <a href="{{ path('cyberjuryCia_rediger_conseils_equipe', {'idEquipe': equipe.id,'page':'classement'} ) }}"
                                   class="fas fa-pencil-alt"
                                   title="Conseils et remarques"> </a>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}