{% extends "base1.html.twig" %}
{% block title %} Classement des équipes {% endblock %}

{% block titre3 %} Classement des équipes de {{ centre }}<br>
    <div class="smallsize"> Points obtenus par les équipes, tenant compte du mémoire</div>
{% endblock %}

{% block navigation %}
    {% if is_granted('ROLE_ORGACIA') %}
        {{ include ("cyberjuryCia/navigation.html.twig") }}
    {% elseif is_granted('ROLE_JURYCIA') %}
        {{ include ("cyberjuryCia/navigationJury.html.twig") }}
    {% endif %}
{% endblock %}

{% block body %}

    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rang</th>
                <th>Éq.</th>
                <th>Projet</th>
                <th title="points">Points</th>
            </tr>
            </thead>
            <tbody>
            {% for key,  point in points %}
                <tr>
                    <th>{{ loop.index }}  </th>
                    {% for equipe in equipes %}
                        {% if equipe.id == key %}
                            <td>
                                <button type="button" class="btn btn-primary btn-lg">{{ equipe.numero }}</button>
                            </td>

                            <td> {{ equipe.titreProjet }} </td>
                            <td>{{ point }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}