{% extends "base1.html.twig" %}
{% block title %} Évaluer une équipe {% endblock %}

{% block titre3 %}
    <span {% if (progression) %} class="btn btn-outline-primary btn-lg" {% else %} class="btn btn-primary btn-lg" {% endif %} >

        {{ equipe.numero }} </span>  {{ equipe.titreProjet }}
    {% if memoire!=null %}
        <a href="{{ asset('odpf/odpf-archives/'~equipe.edition.ed~'/fichiers/memoires/'~ memoire.fichier) }}"
           class="fas fa-book-reader"
           title="Accéder au mémoire de l'équipe" target="_blank"> </a>
    {% endif %}
    <a href="{{ path('cyberjuryCia_rediger_conseils_equipe', {'idEquipe': equipe.id,'page':'evaluation'} ) }}"
       class="fas fa-pencil-alt"
       title="Conseils et remarques"> </a>

    <a href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': equipe.id~'-'~'interacadémique-'~'liste_juryCia'} ) }}"
       class="far fa-address-card"
       title="Equipe - Tous les fichiers de l'équipe(diaporama)"> </a>

{% endblock %}
{% block navigation %}

    {{ include ('cyberjuryCia/navigationJury.html.twig') }}

{% endblock %}

{% block body %}

    {{ include ("cyberjuryCia/form.html.twig") }}
{% endblock %}
{% block pied_de_page %}
{% endblock %}