{% extends 'base1.html.twig' %}
{% block navigation %}

    {{ include ("cyberjuryCia/navigation.html.twig") }}
{% endblock %}
{% block titre3 %}
    Concours interacadémique de {{ centre }} - {{ app.session.get('edition').ed }}<sup>e</sup> édition<br>
    Gestion des jurés et de leur répartition
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>
                <a href="#" , data-toggle="modal" data-target="#modalaideorgacia"
                   title="vide : n'examine pas l'équipe  E : examine l'équipe sans être rapporteur R : est rapporteur de l'équipe"><i
                            class="fas fa-question-circle fa-2x"></i>
                </a>
            </th>
            <th>
                <a href="{{ path('secretariatjuryCia_tableauexcel_repartition',{'centre': centre }) }}"
                   title="Obtenir un tableau excel de la répartition ">
                    <i class="fas fa-file-excel fa-2x"></i>
                </a>
            </th>
            <th>
                <a href="{{ path('secretariatjuryCia_creeJure',{'centre': centre }) }}"
                   title="Inscrire un nouveau juré">
                    <i class="fas fa-plus-square fa-2x"></i>
                </a>
            </th>
            <th>

            </th>
            {% for i in 0..listeEquipes|length %}
                <th>

                    {% if loop.index == (listeEquipes|length+5) //2 %}
                        <span type="text-align: center"> Numéros des équipes<br>
                        <span type="font-size : 8px">Passer la souris sur le n° pour voir le titre du projet</span></span>
                    {% endif %}
                </th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>


    <table class="table">
        <thead>
        <tr>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Initiales</th>
            <th></th>
            <th scope="col" title="N° du sous-jury(Par défaut 1)">N° Jury</th>
            {% for equipe in listeEquipes %}
                <th scope="col" title="{{ equipe.titreProjet }}">{{ equipe.numero }}</th>
            {% endfor %}

            <th scope="col">
                <div style="text-align: center">Supprimer</div>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for jure in listejures %}
            {% if jure.numJury == 1 %}
                <tr style="background-color : #F0F8FF ">

            {% elseif jure.numJury == 2 %}
                <tr style="background-color : #FFFFE0 ">

            {% elseif jure.numJury == 3 %}
                <tr style="background-color : #FFE4E1 ">

            {% endif %}

            {% set attribs = jure.rapporteur %}
            {% set lecteur = jure.lecteur %}
            <form id="form-{{ jure.id }}" method="post" name="form1"
                  action="{{ path('secretariatjuryCia_gestionjures',{'centre':centre}) }}">


                <input type="hidden" name="idjure" id="{{ jure.id }}" value="{{ jure.id }}">
                <td>
                    <label for="prenom{{ jure.id }}"></label>
                    <input type="text" value="{{ jure.prenomJure }}" id="prenom{{ jure.id }}"
                           name="prenom" style="width: 80px"
                           onchange="changejure({{ 'prenom'~jure.id }})">

                </td>
                <td>
                    <label for="{{ 'nom'~jure.id }}"></label><input type="text" value="{{ jure.nomJure }}"
                                                                    id="{{ 'nom'~jure.id }}" name="nom"
                                                                    style="width:100px"
                                                                    onchange="changejure({{ 'nom'~jure.id }})">
                </td>
                <td>

                    <label for="{{ 'initiales'~jure.id }}"></label><input type="text" value="{{ jure.initialesJure }}"
                                                                          id="{{ 'initiales'~jure.id }}"
                                                                          name="initiales" style="width: 50px"
                                                                          onchange="changejure({{ 'initiales'~jure.id }})">
                </td>
                <td>
                    <a href="{{ path('modifcoordonneesjures',{'idjure':jure.id,'centre': centre }) }}"
                       title="Modifier les données du jure ">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a href="{{ path('renvoimailjure',{'idjure':jure.id }) }}"
                       title="Renvoyer les mails d'accueil au jure ">
                        <i class="fas fa-envelope"></i>
                    </a>
                </td>
                <td>

                    {% if jure.numJury ==null %}
                        {% set selectedNum = ['selected','',''] %}
                    {% elseif jure.numJury == 1 %}
                        {% set selectedNum = ['selected','',''] %}
                    {% elseif  jure.numJury == 2 %}
                        {% set selectedNum = ['','selected',''] %}
                    {% elseif jure.numJury == 3 %}
                        {% set selectedNum= ['','','selected'] %}
                    {% endif %}
                    <label for="numJury{{ jure.id }}"></label>
                    <select id="numJury{{ jure.id }}"
                            name="numJury" style="width: 50px"
                            onchange="changejure({{ 'numJury'~jure.id }})">
                        <option {{ selectedNum[0] }}>1</option>
                        <option {{ selectedNum[1] }}>2</option>
                        <option {{ selectedNum[2] }}>3</option>
                    </select>
                </td>
                {% for equipe in listeEquipes %}
                    {% if equipe not in jure.equipes %}
                        {% set selected=['selected','','',''] %}
                    {% endif %}
                    {% if equipe  in jure.equipes %}
                        {% if equipe.numero  not in attribs %}
                            {% set selected =['','selected','',''] %}
                        {% endif %}
                        {% if equipe.numero  in attribs %}
                            {% set selected =['','','selected',''] %}
                        {% endif %}
                        {% if equipe.numero  in lecteur %}
                            {% set selected =['','','','selected'] %}
                        {% endif %}
                    {% endif %}
                    <td>
                        <label for="equipe-{{ equipe.id }}">
                        </label><select id="{{ 'equipe'~equipe.id }}" name="equipe" style="width: 50px"
                                        onchange="changeequipe({{ 'equipe'~equipe.id }},{{ equipe.id }},{{ jure.id }} )">
                            <option {{ selected[0] }}></option>
                            <option {{ selected[1] }}>E</option>
                            <option {{ selected[2] }}>R</option>
                            <option {{ selected[3] }}>L</option>

                        </select>
                    </td>
                {% endfor %}

                <td>
                    <div style="text-align: center">
                        <button type="button" id="{{ jure.id }}" data-toggle="modal" data-target="#modalconfirmjure"
                                data-idjure="{{ jure.id }}" title="Supprimer"><i class="fas fa-trash"></i></button>
                    </div>
                </td>


            </form>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <!--<div class="text-center">
        <button class="btn btn-primary" value="confirmer" name="confirmer" onclick="confirmer()">Confirmer</button>
    </div> -->
    {{ include('modales/modale_supr_jure.html.twig') }}
    {{ include('modales/modale_aide_orga_cia.html.twig') }}
    {% if app.session.get('info')!='' %}
        {{ include('modales/modale_info.html.twig') }}
    {% endif %}
    {{ app.session.set('info','') }}
{% endblock %}