<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Administration du jury</a>
    <div class="dropdown-menu">
        <a class="dropdown-item login py-0" href="{{ path('secretariatjuryCia_accueil') }}">Accueil</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjuryCia_vueglobale') }}">Vue Globale</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjuryCia_CreeJure') }}">Inscrire un juré</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjuryCia_gestionjures') }}"
           role="button" aria-pressed="true">Gestion des jurés</a>
    </div>
</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Classement</a>
    <div class="dropdown-menu">
        <a class="dropdown-item login py-0" href="{{ path('secretariatjuryCia_classement') }}">Classement des équipes
            (total
            des points décroissant)</a>


    </div>
</li>
