{% extends "base1.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} Vue globale  {% endblock %}

{% block titre3 %} Vue Globale
    <div class="smallsize">Ne tient pas compte des points du mémoire</div> {% endblock %}

{% block navigation %}
    {{ include ("cyberjuryCia/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Eq - Juré</th>
                {% for jure in listJures %}
                    <th><span title="{{ jure.prenomJure }} {{ jure.nomJure }}">{{ jure.initialesJure }}</span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>


            {% for e in 1..nbre_equipes %}
                {% set numligne = loop.index %} {# loop.index va de 1 à nb equipes ; numero de ligne #}
                <tr>
                    <th>{{ listEquipes[numligne-1].numero }}</th>

                    {% for j in 1..nbre_jures %} {# loop.index va de 1 à nb jurés; numero de colonne #}

                        <td>
                            {% if progression[numligne][loop.index]=='ras' %}

                            {% elseif  progression[numligne][loop.index] == 0 %}

                                {% set index = loop.index-1 %}
                                <a href="#"
                                   title="equipe : {{ listEquipes[numligne-1].numero }}, juré : {{ listJures[index].initialesJure }}">
                                    <i class="fas fa-asterisk"></i>
                                </a>

                            {% else %}
                                {{ progression[numligne][loop.index] }}

                            {% endif %}
                        </td>
                    {% endfor %}

                </tr>

            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}