{% extends "base1.html.twig" %}
{% block title %}Lien  youtube {% endblock %}
{% block titre3 %}  Saisir le lien youtube pour la remise des prix
{% endblock %}

{% block navigation %}

{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}


    {{ form_start(form) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_row(form.lien,{'label':'Saisir le lien ou effacer pour supprimer'} ) }}
    </div>
    <div class="form-group col-md-6">
        {{ form_widget(form.valider) }}


        <a href="{{ path('core_home' ) }}" type="button" class="btn btn-info">Annuler</a>

    </div>
    {{ form_end(form) }}




{% endblock %}