<div class="bloc-archive-photo">
    <p>
        {% if lienparrain is defined %}
        <a href="{{ lienparrain }}" style="background-color:#fff" target="_blank"><img src="{{ asset(photoparrain) }}"
                                                                                       alt="Bientôt la photo du parrain sera ici"
                                                                                       width="180" height="120"
                                                                                       class="img-thumbnail"></a></p>
    {% else %}
    <img src="{{ asset(photoparrain) }}" alt="Photo du parrain" width="180" height="120" class="img-thumbnail">
    <p>
        {% endif %}
    <p>{{ parrain }}</p>
    <p>{{ titreparrain }}</p>
    <p></p>
    <p></p>
    <p><a href="{{ asset(afficheHR) }}" target="_blank" title="Télécharger l'affiche"><img src="{{ asset(affiche) }}"
                                                                                           width="168" height="240"
                                                                                           alt="Bientôt l'affiche sera ici"></a></p>
</div>