<div class="row ">
    <div class="col-md-12 col-lg-4">
        <h1 class="titre-ppal">
            {{ categorie }}
        </h1>
    </div>
    <div class="col-md-12 col-lg-8">{# taille responsive #}
        <div class="row  justify-content-end">{# une ligne, alignée à droite #}
            <nav>{# menu de navigation des pages d'actus: 5 par page #}

                <ul class="nav flex-column flex-md-row paginactus">

                    <li class="nav-item">
                        {% if pageCourante > 1 %}
                            <a class="nav-link val" href="{{ path('core_actus', {tourn:'debut'}) }}">Début</a>
                        {% else %}
                            <div class="nav-link inval">Début</div>
                        {% endif %}
                    </li>
                    <li class="nav-item">

                        {% if pageCourante > 1 %}
                            <a class="nav-link val" href="{{ path('core_actus', {tourn:'prec'}) }}">Page précédente</a>
                        {% else %}
                            <div class="nav-link inval">Page précédente</div>
                        {% endif %}

                    </li>
                    <li class="nav-item">
                            <span class="nav-link page-active">
                                page <strong>{{ pageCourante }}</strong>/{{ nbpages }}
                            </span>
                    </li>
                    <li class="nav-item">
                        {% if pageCourante < nbpages %}
                            <a class="nav-link val" href="{{ path('core_actus', {tourn:'suiv'}) }}">Page suivante</a>
                        {% else %}
                            <span class="nav-link">Suivant</span>
                        {% endif %}

                    </li>
                    <li class="nav-item">

                        {% if pageCourante < nbpages %}
                            <a class="nav-link val" href="{{ path('core_actus', {tourn:'fin'}) }}">Fin</a>
                        {% else %}
                            <span class="nav-link">Fin</span>
                        {% endif %}

                    </li>
                </ul>


            </nav>
        </div>
    </div>
</div>
<div class="col-centre">

    {% for actu in affActus %}

        <h4 class="titractus mb-0">
            {{ actu.titre|raw }}{# actu.titre et actu.texte viennent de l'OdpfArticle #}
        </h4>
        <div class="description" style="border-bottom: 1px solid #111a21;">
        </div>
        <div class="contenu" style="padding-top: 15px;padding-bottom: 20px;">
            {{ actu.texte|raw }}
        </div>

    {% endfor %}

</div>