{# templates/Core/crawl.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/odpf-accueil.css') }}">
{% endblock %}

{% block contenu %}
    <div id="barre_haut">
    </div>
    <div id="wrapper">
        <div class="container bg-white">

            {{ include('core/odpf-menu-haut.html.twig') }}
            <div class="row justify-content-between">
                <div class="col-md-8 col-lg-5"><a href="{{ path('core_home') }}"><img
                                src="{{ asset('odpf/odpf-images/site-logo-398x106.png') }}" alt="Logo Olympiades"
                                style="width:100%; height:auto"></a></div>
                <div class="col-md-8 col-lg-4 pr-0"><img src="{{ asset('odpf/odpf-images/home-rightcol-top2.png') }}"
                                                         alt="image_en_tete" style="width:100%; height:auto"></div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-4 order-last order-md-first col-gche-accueil ">
                    <div class="row px-3 pb-0">
                        {# <img src="{{ asset('images/Bandeau1.png') }}" width="100%" height="auto"
                             alt="image"> #}
                        {{ include('OdpfAdmin/carousel-accueil.html.twig') }}
                        <div class="menugche-accueil">
                            <h3>les olympiades de Physique France</h3>
                            <ul>
                                <li><a href="{{ path('core_pages', {choix:'c_est_quoi'}) }}">C'est quoi ?</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'comment_ca_se_passe'}) }}">Comment ça se
                                        passe ?</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'pourquoi_participer'}) }}">Pourquoi
                                        participer</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'les_aides'}) }}">Les aides</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'les_recompenses'}) }}">Les récompenses</a>
                                </li>
                                <li><a href="{{ path('core_pages' ,{choix:'qui_organise'}) }}">Qui organise ?</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'la_presse_en_parle'}) }}">La presse en
                                        parle</a></li>
                            </ul>
                            <h3>Revivez les éditions passées</h3>
                            <ul>
                                <li><a href="{{ path('core_pages',{choix:'editions'}) }}">Les éditions</a></li>
                                {#  <li><a href="#">Les mémoires</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'les_videos'}) }}">Les vidéos</a></li> #}
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <li><a href="{{ path('goutte_client') }}">Scraper</a></li>
                                {% endif %}
                                <li><a data-toggle="modal" href="#modarecherche"> Rechercher des mémoires</a>

                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8 order-first order-md-last col-dte-accueil">
                    <div class="menudte">
                        <div class="bloc-concours">
                            <h3 style="margin-top: 5px">Le concours</h3>
                            <div class="row">
                                <div class="col col-sm-12 col-lg-5">
                                    <h3 class="date">{{ app.session.get('edition').annee }}</h3>
                                </div>
                                <div class="col col-sm-12 col-lg-7 pt-2">
                                    <ul class="menu-concours">
                                        <li><a href="{{ path('core_pages', {choix:'le_calendrier'}) }}">Le
                                                calendrier</a></li>
                                        <li><a href="{{ path('core_pages', {choix:'inscriptions'}) }}">Inscriptions
                                                avant le 17 octobre</a></li>
                                        <li><a href="{{ path('core_pages', {choix:'les_equipes'}) }}">Les équipes</a>
                                        </li>
                                        <li><a href="{{ path('core_pages', {choix:'la_carte_des_equipes'}) }}">Cartes
                                                des équipes</a></li>
                                        <li><a href="{{ path('core_pages', {choix:'les_concours_interacademiques'}) }}">Les
                                                concours interacadémiques</a></li>
                                        <li><a href="{{ path('core_pages', {choix:'le_concours_national'}) }}">Le
                                                concours national</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- bloc-concours-->
                        <div class="bloc-actus">
                            <h3>Actus</h3>
                            <ul class="actus-home">

                            {% for actu in affActus %}
                                    <li>
                                        <a class="actus-home-titre"
                                           href="{{ path('core_actus', {tourn:'rien'}) }}">{{ actu.titre|raw }}</a>
                                        <p class="actus-home-introtext">{{ actu.texte|raw }} ...</p>
                                        <p class="actus-home-lireplus">
                                            <a class="lireplus" href="{{ path('core_actus', {tourn:'rien'}) }}"
                                               style="font-size:12px">Lire plus</a>
                                        </p>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div><!--bloc-actus-->
                        <div class="bloc-partenaires">
                            <h3>Partenaires</h3>
                            <ul class="menu-partenaires">
                                <li><a href="{{ path('core_pages', {choix:'mecenes'}) }}">Nos mécènes</a></li>
                                <li><a href="{{ path('core_pages' ,{choix:'donateurs'}) }}">Nos donateurs</a></li>
                            </ul>

                        </div><!-- bloc-partenaires-->
                    </div><!--menudte-->
                </div><!--col-md-8 col-dte-accueil-->
            </div><!--row-->
            <div class="row  justify-content-around">
                <div class="bas-accueil">
                    <nav class="menu-bas">
                        <ul class="nav flex-column flex-md-row pt-2">
                            <li class="nav-item menu-bas-text">
                                <a class="nav-link" href="{{ path('core_actus', {tourn:'rien'}) }}">Actus</a>
                            </li>
                            <li class="nav-item  menu-bas-text">
                                <a class="nav-link" href="{{ path('core_pages', {choix:'c_est_quoi'}) }}">Les Olympiades
                                    de Physique France</a>
                            </li>
                            <li class="nav-item menu-bas-text">
                                <a class="nav-link " href="{{ path('core_pages', {choix:'le_calendrier'}) }}">Le
                                    Concours {{ app.session.get('edition').annee }}</a>
                            </li>
                            <li class="nav-item menu-bas-text">
                                <a class="nav-link" href=" {{ path('core_pages',{choix:'editions'}) }}">Revivez les
                                    éditions passées</a>
                            </li>
                            <li class="nav-item menu-bas-text">
                                <a class="nav-link" href="{{ path('core_pages', {choix:'mecenes'}) }}">Partenaires</a>
                            </li>
                        </ul>
                    </nav>
                </div><!--bas-accueil_-->
            </div><!--row-->
            {{ include('core/odpf-pied.html.twig') }}

        </div><!--container bg-white-->
        <div id="barre_bas">
        </div>
    </div><!--wrapper-->


    {% if app.session.get('nluser')==true %}
        <div class="modal fade" id="modalinfo" tabindex="-1" role="dialog">{# pour les nouveaux users #}
            <div class="modal-dialog" role="document">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalconfirmLabel">Inscription </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Merci pour votre inscription sur Olymphys. Elle n'est pas encore complète.
                        </p>
                        <p>
                            Un mail vient de vous être envoyé afin que vous puissiez finaliser votre inscription en
                            cliquant sur un lien.
                            Le lien est valide 24h.
                        </p>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
    <div class="modal fade" id="modarecherche" tabindex="-1" role="dialog"> {# moteur de recherche #}
        <div style="display:table;height: 100%; width: 80%; pointer-events:none;margin: auto">
            <div class="modal-dialog " role="document"
                 style="display: table-cell;  vertical-align: middle; pointer-events:none;">

                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="ModalconfirmLabel">Recherche de mémoires </h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <script async src="https://cse.google.com/cse.js?cx=d07702abaf7e74949">
                        </script>
                        <div class="gcse-searchbox-only"></div>


                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{ app.session.set('nluser',false) }}
{% endblock %}