<div class="row  justify-content-end">
    {# menu haut des pafes odpf #}
    <nav>
        {# utilise les fonctions nav de Bootstrap #}
        <ul class="nav flex-column flex-md-row">
            <li class="nav-item dropdown menu_haut" >
                <a href="{{ path('searchTypeSense') }}">Recherche</a>
            </Li>
            <li class="nav-item dropdown menu_haut">
                {#  ouvre un menu déroulant #}
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Foire aux questions</a>
                <div class="dropdown-menu">
                    {# contenu du menu déroulant #}
                    {% for question in listfaq %}
                        {#  listfaq est passé par la fonction accueil du Controller #}
                        <a class="dropdown-item login py-0"
                           href="{{ path('core_faq',{tourn: 'debut'}) }}">{{ question.titre }}</a>
                        {# le lien est vers une route, core_faq, du CoreController, pour la fonction faq,  avec une donnée 'début'  #}
                    {% endfor %}
                </div>
            </li>

            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li class="nav-item dropdown menu_haut">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Administration</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item login py-0" href="{{ path('admin') }}">Tableau de bord Concours</a>
                        {# le chemin admin est la rout de l'Admin Concours (src/Controller/Admin/DahboardController.php) #}
                        <a class="dropdown-item login py-0" href="{{ path('odpfadmin') }}">Tableau de bord Site</a>
                        {#  odpfadmin est la route de  src/Controller/OdpfAdmin/OdpfDashboardController.php#}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_accueil') }}" role="button">Secrétariat
                            du Jury</a>
                        {# secretariatjury/accueil est la route vers la fonction accueil du SecretariatJuryController #}
                        <div class="dropdown-divider"></div>
                        {# saute une ligne #}
                        <a class="dropdown-item login py-0" href="{{ path('comite_frais') }}" role="button">Déclaration des frais</a>
                        {#  comite/frais est la route vers la fonction frais du ComiteController, avec la variable nblig #}
                        <div class="dropdown-divider"></div>
                        {# saute une ligne #}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatadmin_charge_user') }}"
                           role="button" aria-pressed="true">Ajouter des utilisateurs</a>
                        {# secretariatadmin_charge_user est la route vers la fonction chargeuser du SecretariatadminController #}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatadmin_charge_uai') }}"
                           role="button" aria-pressed="true">Charger le RNE</a>
                        {#  secretariatadmin_charge_uai est la route vers la donction charge_uai deu SecretariatadminController #}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatadmin_charge_equipe_id_uai') }}"
                           role="button" aria-pressed="true">Mise à jour id_uai</a>
                        {# secretariatadmin_charge_equipe_id_uai est la route vers la fonction chage_equipe_uai du SecretariatadminController #}
                        <div class="dropdown-divider"></div>
                        {# saute une ligne #}
                        <a class="dropdown-item login py-0"
                           href=" {{ path('photos_deposephotos', {concours:'inter'}) }}" role="button"
                           aria-pressed="true">Déposer des photos des interacadémiques</a>
                        {# photos_deposephotos est la route vers la fonction deposephotos du PhotosController, avec la variable concours : inter #}
                        <a class="dropdown-item login py-0" href="{{ path('photos_deposephotos',{concours:'cn'}) }}"
                         role="button" aria-pressed="true">Déposer des photos des épreuves nationales</a>
                        {# photos_deposephotos est la route vers la fonction deposephotos du PhotosController, avec la variable concours : cn #}
                        <a class="dropdown-item login py-0" href="{{ path('fichiers_choix_centre') }}" role="button">Liste
                            des fichiers CIA</a>
                        {# fichiers_choix_centre est la route vers la fonction choix_centre du FichersController #}
                        <a class="dropdown-item login py-0"
                           href="{{ path('fichiers_choix_equipe',{choix: 'liste_cn_comite'}) }}" role="button"
                           aria-pressed="true"> Liste des mémoires et résumés CN</a>
                        {# fichiers_choix_equipe est la route vers la fonction choix_equipe du FichiersController avec ici la variale liste_cn_comite #}
                        <div class="dropdown-divider"></div>
                        {# saute une ligne #}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatadmin_cree_equipes') }}"
                           role="button" aria-pressed="true">Remplissage de la table Equipes</a>
                        {# secretariatadmin_cree_equipes est la route vers la fonction cree_equipes du SecretariatadminController #}
                        <a class="dropdown-item login py-0" href="{{ path('secretariatadmin_charge_jures') }}"
                           role="button" aria-pressed="true">Remplissage de la table Jures</a>
                        {# secretariatadmin_charge_jures est la route vers la fonction charge_jures du SecretariatadminController #}

                    </div>
                </li>
            {% elseif is_granted('ROLE_COMITE') %}
                <li class="nav-item dropdown menu_haut">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Page Comité</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item login py-0" href="{{ path('admin') }}" role="button"
                           aria-pressed="true">Gérer les équipes et leurs documents</a>
                        <a class="dropdown-item login py-0" href="{{ path('odpfadmin') }}">Tableau de bord du Site</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item login py-0" href="{{ path('comite_frais') }}" role="button">Déclaration des frais</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item login py-0" href="{{ path('photos_deposephotos', {concours:'inter'}) }}"
                           role="button" aria-pressed="true">Déposer des photos des interacadémiques</a>
                        <a class="dropdown-item login py-0" href="{{ path('photos_deposephotos',{concours:'cn'}) }}"
                           role="button" aria-pressed="true">Déposer des photos des épreuves nationales</a>
                        <a class="dropdown-item login py-0" href="{{ path('fichiers_choix_centre') }}" role="button"
                           aria-pressed="true">Liste des fichiers et vidéos des CIA</a>
                        <a class="dropdown-item login py-0"
                           href="{{ path('fichiers_choix_equipe',{choix: 'liste_cn_comite'}) }}" role="button"
                           aria-pressed="true"> Liste des mémoires et résumés CN</a>
                    </div>
                </li>
            {% elseif is_granted('ROLE_ORGACIA') %}
                <li class="nav-item  menu_haut">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Page Organisateurs</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="login py-0">Centre de {{app.user.centrecia.centre  }}</div>
                        <a class="dropdown-item login py-0"
                           href="{{ path('fichiers_choix_equipe',{choix : 'centre'}) }}" role="button"
                           aria-pressed="true">Les équipes et leurs documents</a>
                        <a class="dropdown-item login py-0" href="{{ path('photos_deposephotos', {concours:'inter'}) }}"
                           role="button" aria-pressed="true">Déposer des photos des interacadémiques</a>
                    </div>
                </li>
            {% elseif is_granted('ROLE_JURYCIA') %}
                <li class="nav-item  menu_haut">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Page Jury CIA</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <div class="login py-0">Centre de {{ app.user.centrecia.centre }}</div>
                        <a class="dropdown-item login py-0"
                           href="{{ path('fichiers_choix_equipe',{choix : 'centre'}) }}" role="button"
                           aria-pressed="true">Les équipes et leurs documents</a>
                    </div>
                </li>
            {% elseif is_granted('ROLE_JURY') %}
                <li class="nav-item  menu_haut">
                    <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Page Jury</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item login py-0"
                           href="{{ path('fichiers_choix_equipe',{choix : 'liste_cn_comite'}) }}" role="button"
                           aria-pressed="true">Les équipes et leurs documents</a>
                        <a class="dropdown-item login py-0" href="{{ path('cyberjury_accueil') }}">Evaluer les équipes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item login py-0" href="{{ path('comite_frais') }}" role="button">Déclaration des frais</a>

                    </div>
                </li>
            {% elseif is_granted('ROLE_PROF') %}
                <li class="nav-item dropdown menu_haut">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">Mon espace</a>
                    <div class="dropdown-menu login py-0" aria-labelledby="dropdownMenu5">
                        <a class="dropdown-item" href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'}) }}"
                           role="button" aria-pressed="true">Mes équipes </a>
                    </div>
                </li>
            {% endif %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="nav-item dropdown menu_haut">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">{{ app.user.prenomNom }}</a>
                <div class="dropdown-menu">

                    <a class="dropdown-item login py-0" href="{{ path('profile_show') }}">Voir mon profil</a>
                </div>
            {% endif %}

            </li>
            <li class="nav-item dropdown menurouge">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <a class="nav-link" href="{{ path('logout') }}" aria-haspopup="true"
                        aria-expanded="false">Déconnexion</a>

                {% else %}
                     <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Connexion</a>
                    <div class="dropdown-menu login" aria-labelledby="dropdownMenu3">
                        <a class="dropdown-item login py-0" href="{{ path('login') }}">Connectez
                            vous si vous avez un compte</a>
                        <a class="dropdown-item login py-0" href="{{ path('register') }}">Créez un
                            compte si vous en souhaitez un</a>
                    </div>
                {% endif %}

            </li>


        </ul>
    </nav>
</div>
