<div class="row">
    <div class="col-12 ">


        <form method="GET" action="{{ path('editions',{choix:0}) }}" id="form1" name="form1">
            <select class="form-control-lg" id="sel" name="sel" aria-label="Choix de  l'édition">
                <option value="" selected>{{ edition_affichee.ed }}e édition -
                    Année {{ edition_affichee.annee|slice(5,4) }}</option>
                {% for edition in editions %}
                    {% if edition !=edition_affichee %}
                        <option value="{{ edition.id }}">{{ edition.ed }}e édition -
                            Année {{ edition.annee|slice(5,4) }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>

    </div>
</div>












