{# templates/Core/odpf-editions-passees-equipe.html.twig #}
{% extends "base.html.twig" %}

{% block title %}
    {{ titre }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% if categorie.categorie == 'opdfequipepassee' %}

        <link rel="stylesheet" href="{{ asset('css/odpf-revivez.css') }}">
    {% endif %}
{% endblock %}

{% block contenu %}
    <div id="wrapper">
        <div class="container bg-white">
            {% include 'core/odpf-menu-haut.html.twig' %}
            {% include 'core/odpf-en-tete-ppal.html.twig' %}

            <div class="row ">
                <div class="col-md-12 col-lg-9">
                    <h1 class="titre-principal">
                        ÉQUIPE <br> DE LA {{ equipe.editionspassees.pseudo }}<sup>e</sup> ÉDITION.
                    </h1>

                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="menugche">
                                <nav>
                                    <ul class="nav flex-column">

                                        {% if categorie.categorie =='opdfequipepassee' %}

                                            <li class="nav-item  active"><a class="nav-link"
                                                                            href="{{ path('core_pages' ,{choix:'editions'}) }}">Editions</a>
                                            </li>
                                            {#   <li class="nav-item "><a class="nav-link" href="">Les mémoires</a></li>
                                        <li class="nav-item"><a class="nav-link" href="">Recherches</a></li> #}
                                            <img alt="{{ equipe.editionspassees.nomParrain }}"
                                                 src="{{ asset('odpf/odpf-archives/'~equipe.editionspassees.edition~'/parrain/'~equipe.editionspassees.photoParrain) }}"
                                                 class="img-thumbnail">
                                            <div class="smallsize text-center">{{ equipe.editionspassees.nomParrain }}
                                                <br>
                                                {{ equipe.editionspassees.titreParrain }}</div>

                                            <p><img alt="affiche"
                                                    src="{{ asset('odpf/odpf-archives/'~equipe.editionspassees.edition~'/affiche/'~equipe.editionspassees.affiche) }}"
                                                    class="img-thumbnail"></p>
                                        {% endif %}

                                    </ul>
                                </nav>

                            </div>

                        </div>

                        <div class="col-md-9 col-lg-9">
                            <div class="col-centre-2">

                                <div class="contenu">

                                    {{ texte|raw }}

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 col-lg-3 pr-0 "><!--col dte-->
                    {% if categorie.categorie == 'opdfequipepassee' %}
                        <img src="{{ asset('odpf/odpf-images/colright-illustration-03.png') }}" alt="image_en_tete"
                             style="width:100%; height:auto;">

                    {% endif %}


                    {% if  categorie.categorie =='opdfequipepassee' %}

                        {{ include('core/Odpf-Equipe-Carousel.html.twig') }}
                        {# {% if photostest == true %}
                            <a href="{{ path('photos_voir_galerie',{infos : 'equipe-'~equipe.id}) }}"
                               title="Accéder à la galerie"> Accéder à la galerie photo</a>
                        {% endif %} #}
                    {% endif %}

                </div><!--col dte-->


            </div><!--row-->
            {{ include('core/odpf-menu-complet.html.twig') }}
            {{ include('core/odpf-pied.html.twig') }}

        </div><!--wrapper-->
    </div>
{% endblock %}

