{% block pied %}
    <div class="row orga">
        <div class="col-md-8 col-lg-3">
                        <span class="site-logo">
                            <a href="{{ path('core_home') }}"><img
                                        src="{{ asset('odpf/odpf-images/site-logo-239x66.png') }}" alt="logo du site"></a>
                        </span>
        </div>
        <div class="col-md-1">
            <span class="split"></span>
        </div>
        <div class="col-md-8 col-lg-5">
            <div class="txt">
                <p>Les Olympiades de Physique France sont organisées par l'Union des Professeurs de Physique et de
                    Chimie et la Société Française de Physique.</p>
                <p>
                    <a href="https://wwww.udppc.asso.fr" target=_blank" rel="noopener"><img
                                src="{{ asset('odpf/odpf-images/logo-udppc.png') }}" alt="logo UdPPC" width="100"
                                height="52"></a>
                    <a href="https://wwww.sfpnet.fr" target=_blank" rel="noopener"><img
                                src="{{ asset('odpf/odpf-images/logo-sfp.png') }}" alt="log SFP" width="50" height="52"></a>
                </p>
            </div>
        </div>
        <div class="col-md-3">
        </div>
    </div> <!--row orga-->
    <div class="row align-items-end pied">
        <div class="col">
        </div>
        <div class="col">
            <nav class="pied-boite flex-fill justify-content-right">
                <ul class="nav flex-column flex-md-row ">
                    <li class="nav-item  pied-texte2">
                        Site créé avec <a href="https://www.symfony.com" target="_blank" rel="noopener"><img
                                    style="margin-bottom: 0; vertical-align: middle;"
                                    src="{{ asset('odpf/odpf-images/logo-symfony.png') }}" alt="symfony logo"
                                    width="30">
                        </a> et le support de <a href="https://www.jetbrains.com/fr-fr/phpstorm/" target="_blank"
                                                 rel="noopener"><img style="margin-bottom: 0; vertical-align: middle;"
                                                                     src="{{ asset('odpf/odpf-images/logo-PhpStorm.png') }}"
                                                                     alt="PhpStorm logo" width="30">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row  pied">

        <nav class="pied-boite flex-fill justify-content-center">
            <ul class="nav flex-column flex-md-row flex-fill justify-content-center">
                <li class="nav-item  pied-texte2">
                    <a href="https://www.youtube.com/c/LesOlympiadesdePhysiqueFrance" target="_blank" rel="noopener">
                        <img src="{{ asset('odpf/odpf-images/logo-youtube.png') }}"
                             style="margin-bottom: 0; vertical-align: middle;" alt="fb logo" width="30">
                    </a>
                </li>

                <li class="nav-item pied-texte">
                    <a href="https://www.facebook.com/olymphys" target="_blank" rel="noopener">
                        <img src="{{ asset('odpf/odpf-images/logo-fb.png') }}"
                             style="margin-bottom: 0; vertical-align: middle;" alt="fb logo" width="30">
                    </a>
                </li>
                <li class="nav-item pied-texte">
                    <a href="https://www.instagram.com/Olymphys" target="_blank" rel="noopener">
                        <img style="margin-bottom: 0; vertical-align: middle;"
                             src="{{ asset('odpf/odpf-images/logo-instagram.png') }}" alt="Instagram logo" width="30">
                    </a>
                </li>
                <li class="nav-item pied-texte">
                    <a href="https://www.twitter.com/Olymphys" target="_blank" rel="noopener">
                        <img style="margin-bottom: 0; vertical-align: middle;"
                             src="{{ asset('odpf/odpf-images/logo-twitter.png') }}" alt="Instagram logo" width="30">
                    </a>
                </li>
                <li class="nav-item  pied-texte">
                    <a class="nav-link" href="{{ path('core_mentions', {mention: 'legales'}) }}">Mentions légales</a>
                </li>
                <li class="nav-item pied-texte">
                    <a class="nav-link "
                       href="{{ path('core_mentions', {mention: 'remerciements'}) }}">Remerciements</a>
                </li>
                <li class="nav-item pied-texte">
                    <a class="nav-link" href="{{ path('core_mentions', {mention: 'credits'}) }}">Crédits</a>
                </li>
                <li class="nav-item pied-texte">
                    <a class="nav-link" href="mailto:info@olymphys.fr">Nous contacter</a>
                </li>
            </ul>
        </nav>

    </div>
{% endblock %}
