{% extends "base1.html.twig" %}
{% block title %} Approche du classement {% endblock %}

{% block titre3 %} Approche du classement {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}


{% set bouton=['btn btn-outline-dark','btn btn-danger','btn btn-warning','btn btn-primary'] %}
{% block body %}

    <div class="col-sm-12">
        <table class="border table-striped">


            {% for equipe in classement %}

                <tr>

                    <td class="col-1 ">
                        <button class="{{ bouton[equipe.couleur] }}">{{ equipe.equipeinter.lettre }}</button>


                    </td>

                    <td class="col-2">
                        <form class="form-group" action="{{ path('secretariatjury_approche') }}" id="{{ equipe.id }}">
                            <input type="hidden" value="{{ equipe.id }}" id="{{ equipe.id }}" name="idEquipe">
                            <label>

                                <select class="custom-select" name="{{ equipe.equipeinter.lettre }}">


                                    <option value="{{ equipe.couleur }}" selected>{{ equipe.couleur }}</option>
                                    {% for i in 0..3 %}
                                        {% if i !=equipe.couleur %}
                                            <option value="{{ i }}">{{ i }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </label>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>

                        </form>

                    </td>
                    <td class="col-6">
                        {{ equipe.equipeinter.titreProjet }}

                    </td>
                    <td class="col-1">
                        {{ equipe.total }}

                    </td>

                </tr>

            {% endfor %}
        </table>
    </div>

{% endblock %}