{% extends "base1.html.twig" %}
{% block title %} Édition des cadeaux {% endblock %}

{% block titre3 %} Édition des cadeaux {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Prix</th>
                <th>Titre projet</th>
                <th>Cadeau</th>
            </tr>
            </thead>

            <tbody>
            {% for equipe in listEquipes %}
                {% if equipe.classement =='3ème' %}
                    {% set class = 'btn btn-primary' %}
                {% elseif  equipe.classement =='2ème' %}
                    {% set class='btn btn-warning' %}
                {% elseif  equipe.classement =='1er' %}
                    {% set class='btn btn-danger' %}
                {% endif %}
                <tr>
                    <th><a class="{{ class }}"

                           target="_blank">{{ equipe.equipeinter.lettre }} </a></th>
                    <td>{{ equipe.classement }} prix</td>
                    <td>{{ equipe.equipeinter.titreProjet }}</td>
                    {% if equipe.cadeau != null %}
                        <td>{{ equipe.cadeau.contenu }} offert par {{ equipe.cadeau.fournisseur|upper }} d'une valeur
                            de {{ equipe.cadeau.montant }} euros.
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>



{% endblock %}