{% extends "base1.html.twig" %}
{% block title %} Édition des visites {% endblock %}

{% block titre3 %} Édition des visites {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}
{% block body %}

    <div class="container">
            <div class="row">
                <div class="col-1">
                    Lettre
                </div>
                <div class="col-7 text-center">
                    Visite
                </div>
                <div class="col-2">

                </div>
                <div class="col-2">

                </div>
            </div>

            {% set i = 0  %}
            {% for equipes in listEquipes %}

                    {{ form_start(form[i]) }}

                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form[i]) }}
                    </div>

                    <div class="row">
                        <div class="col-1">
                            <span class="btn btn-primary btn-lg">{{ equipes.equipeinter.lettre }} </span>
                        </div>

                        <div class="col-7">
                            {{ form_widget(form[i].id)}}
                            {{ form_widget(form[i].visite,{'label':''} )}}
                        </div>
                        <div class="col-2" >
                            {{ form_widget(form[i].enregistrer) }}
                        </div>
                        <div class="col-2">
                            {{ form_widget(form[i].effacer) }}
                        </div>
                    </div>
                    {{ form_end(form[i]) }}

                    <hr>
                {% set i = i+1 %}
            {% endfor %}


    </div>

{% endblock %}