{% extends "base1.html.twig" %}
{% block title %} Édition des phrases et des prix amusants {% endblock %}

{% block titre3 %} Édition des phrases et des prix amusants {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}
{% block body %}

    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Titre projet</th>
                <th>Classement</th>
                <th>Phrases et prix amusants</th>
            </tr>
            </thead>

            <tbody>

            {% for equipes in listEquipes %}
                <tr>
                    <th><span class="btn btn-primary btn-lg">{{ equipes.equipeinter.lettre }} </span></th>
                    <td>{{ equipes.equipeinter.titreProjet }}</td>
                    <td>{{ equipes.classement }} prix</td>
                    <td>{% if equipes.phrases != null %}
                            {% for phrase in equipes.phrases %}

                                {{ phrase.phrase }} {{ phrase.liaison.liaison }} {{ phrase.prix }}
                                <hr>
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}