{% extends "base1.html.twig" %}
{% block title %} Édition des cadeaux {% endblock %}

{% block titre3 %} Édition des cadeaux {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Prix</th>
                <th>Titre projet</th>
                <th>Cadeau</th>
            </tr>
            </thead>

            <tbody>
            {% for equipes in listEquipes %}
                <tr
                        {% if equipes.classement == '1er' %} class="danger" {% elseif  equipes.classement == '2ème' %} class="warning" {% else %} class="active" {% endif %}
                >
                    <th><a class="btn btn-primary btn-lg"
                           href="{{ path('secretariatjury_attrib_cadeaux', {'id_equipe': equipes.id} ) }}"
                           target="_blank">{{ equipes.lettre }} </a></th>
                    <td>{{ equipes.classement }} prix</td>
                    <td>{{ equipes.titreProjet }}</td>
                    {% if equipes.cadeau != null %}
                        <td>{{ equipes.cadeau.contenu }} offert par {{ equipes.cadeau.fournisseur|upper }} d'une valeur
                            de {{ equipes.cadeau.montant }} euros.
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>

    </div>

{% endblock %}