{% extends "base1.html.twig" %}
{% block title %} Édition des cadeaux {% endblock %}

{% block titre3 %} Édition des cadeaux {% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class="container">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Lettre</th>
                <th>Prix</th>
                <th>Titre projet</th>
                <th>Cadeau</th>
            </tr>
            </thead>

            <tbody>
            {% for equipe in listEquipes %}
                <tr
                        {% if equipe.classement == '1er' %} class="danger" {% elseif  equipe.classement == '2ème' %} class="warning" {% else %} class="active" {% endif %}
                >
                    <th><a class="btn btn-primary btn-lg"
                           href="{{ path('secretariatjury_attrib_cadeaux', {'id_equipe': equipe.id} ) }}"
                           target="_blank">{{ equipe.equipeinter.lettre }} </a></th>
                    <td>{{ equipe.classement }} prix</td>
                    <td>{{ equipe.equipeinter.titreProjet }}</td>
                    {% if equipe.cadeau != null %}
                        <td>{{ equipe.cadeau.contenu }} offert par {{ equipe.cadeau.fournisseur|upper }} d'une valeur
                            de {{ equipe.cadeau.montant }} euros.
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>


    </div>

    </div>

{% endblock %}