<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.cadeau, "Matériel scientifique offert au laboratoire du Lycée ",{'label_attr': {'class': 'col-sm-8 control-label'}} ) }}
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.cadeau) }}
    </div>

    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.cadeau, "Courte description",{'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.cadeau) }}
        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.cadeau, {'attr': {'class': 'form-control'}}) }}
        </div>

    </div>


    {# Génération manuelle et éclatée : #}
    {# <div class="form-group">
    
    {{ form_label(form.cadeau.attribue, "Attribué") }}
    Affichage des erreurs pour ce champ précis.
    {{ form_errors(form.cadeau.attribue) }}
    <span class="col-sm-10">
      
      {{ form_widget(form.cadeau.attribue, {'attr': {'class': 'form-control'}}) }}
  </span>
  </div>
    #}
    <div>
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-success'}}) }}

    </div>

    {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

</div>

  