{% extends "base1.html.twig" %}
{% block title %} Modifier le rang d'une équipe {% endblock %}

{% block titre3 %}
    <span class="btn btn-primary btn-lg"> {{ equipe.equipeinter.lettre }} </span>  {{ equipe.equipeinter.titreProjet }}
{% endblock %}

{% block navigation %}
    {{ include ("secretariatjury/navigation.html.twig") }}
{% endblock %}

{% block body %}

    <div class="well">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            {{ form_label(form.rang, "Rang", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
            {# Affichage des erreurs pour ce champ précis. #}
            <span class="col-sm-2">
                {# Génération de l'input. #}
                {{ form_widget(form.rang, {'attr': {'class': 'form-control'}}) }}
            </span>
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>


        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}


    </div>



{% endblock %}