<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Accueil du Jury</a>
    <div class="dropdown-menu">
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_accueil_jury') }}">Accueil du Jury</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_vueglobale') }}">Vue Globale</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_gestionjures') }}" id="gestionjures">Gestion
            des jurés</a>
        <a class="dropdown-item login py-0"
           href="{{ path('secretariatjury_liste_recommandations') }}">Recommandations</a>
    </div>
</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Classement</a>
    <div class="dropdown-menu">
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_classement') }}">Classement des équipes
            (total
            des points décroissant)</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_lesprix') }}">Les Prix</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_approche') }}">Approche du classement </a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_classement_definitif') }}">Le classement
            définitif</a>

    </div>
</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Les prix</a>
    <div class="dropdown-menu">
        <!-- <a class="dropdown-item" href="{{ path('secretariatjury_mise_a_zero') }}">Initialisation des tables</a> -->
        <a class="dropdown-item login py-0" id="raz" data-toggle="modal" data-target="#modalraz"
           title="remise à zéro des tables">Initialisation des tables</a>
        {# <a class="dropdown-item" href="{{ path('secretariatjury_remplissage_nbnotes_equipes') }}">remplissage des notes(pour simulation)</a>
        #}
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_lesprix') }}">Les Prix</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_attrib_prix', {'niveau' : 1 }) }}">Attribution
            des premiers prix</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_attrib_prix', {'niveau' : 2 }) }}">Attribution
            des deuxièmes prix</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_attrib_prix', {'niveau' : 3 }) }}">Attribution
            des troisièmes prix</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_edition_prix') }}">Édition des Prix
            attribués</a>
    </div>
</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Les récompenses</a>
    <div class="dropdown-menu">

        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_edition_visites') }}">Édition des visites</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_lescadeaux',{compteur:1}) }}">Attribution des
            cadeaux</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_edition_cadeaux') }}">Édition des cadeaux</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_edition_phrases') }}">Édition des phrases et
            prix amusants</a>

    </div>
</li>
<li class="nav-item dropdown menu_haut">
    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button"
       aria-haspopup="true" aria-expanded="false">Palmarès</a>
    <div class="dropdown-menu">
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_edition_palmares_complet') }}">Édition du
            palmarès complet</a>
        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_tableau_excel_palmares_site') }}">Fichier
            Excel
            pour le site</a>

        <a class="dropdown-item login py-0" href="{{ path('secretariatjury_tableau_excel_palmares_jury') }}">Création du
            Fichier Excel pour la proclamation du palmarès</a>
    </div>
</li>