{# templates/bundles/EasyAdminBunble/odpf/odpf_form_images_carousels.html.twig
#}
{% block _OdpfCarousels_image_row %}

    {% set idCarousel = form.parent.vars.data.id %}
    <a href="{{ path('add_diapo',{idCarousel:idCarousel, idDiapo:0}) }}" type="button"
       class="btn btn-link field-collection-add-button" title="Ajouter une diapositive"><i class="fa fa-plus pr-1"></i>Ajouter
        une diapositive</a>

    {% for child in form.children|filter(child => not child.rendered) %}

        <hr>

        <span class="border border-primary" style="background-color:lightgrey; align-items: center">

                    Diapo{{ child.vars.value.numero }}

            {% if child.vars.value.name is defined %}
                <div class="form-widget">
                            <a href="{{ asset('odpf/odpf-images/imagescarousels/'~child.vars.value.name) }}"
                               target="_blank">  <img
                                        src="{{ asset('odpf/odpf-images/imagescarousels/'~child.vars.value.name) }}"
                                        style="height:100px;width:auto" id="diapo{{ loop.index }}"></a>
                        </div>

            {% endif %}
                    <a href="{{ path('add_diapo',{idCarousel:idCarousel,idDiapo:child.vars.value.id}) }}" type="button"
                       class="btn btn-primary">Modifier l'image</a>

                    <div class="form-group">
                        {{ form_label(child) }}
                        {{ form_row(child) }}
                        {{ form_errors(child) }}

                    </div>


            </span>


    {% endfor %}

    {% if allow_add|default(false) %}

        {# <button type="submit" class="btn btn-link field-collection-add-button" id="'ea.collection.item-added"> {{ 'action.add_new_item'|trans({}, 'EasyAdminBundle') }}<i class="fa fa-plus pr-1"></i></button> #}
        Ajouter une diapositive<a href="{{ path('add_diapo',{idCarousel:idCarousel, idDiapo:0}) }}" type="button"
                                  class="btn btn-link field-collection-add-button"><i class="fa fa-plus pr-1"></i>Ajouter
        une diapositive</a>

    {% endif %}


{% endblock %}




