{# templates/bundles/Easyadmin/list_elevescia.html.twig #}
{% extends '@!EasyAdmin/layout.html.twig' %}
{% block content %}
    <div class="content">
        {% block content_header_wrapper %}
            {% block content_header %}
                <section class="content-header">
                    <div class="d-flex flex-row justify-content-between align-content-center w-100">
                        <div class="content-header-title">
                            <h3 class=\"title\">
                                {% block page_title %}

                                    {% if  app.request.query.get('filters')==null %}
                                        {% set titre_page='Elèves de la '~ app.session.get('edition').ed ~'<sup>e</sup> édition' %}

                                    {% endif %}
                                    {% if  app.request.query.get('filters')!=null %}
                                        {% if  app.request.query.get('filters').edition is defined %}
                                            {% set titre_page='Equipes de la '~ app.session.get('titreedition').ed~'<sup>e</sup> édition' %}

                                        {% endif %}
                                        {% if  app.request.query.get('filters').equipe is defined %}
                                            {% set titre_page='Equipe : '~app.session.get('titrepage') %}

                                        {% endif %}
                                    {% endif %}

                                    {{ titre_page|raw }}

                                {% endblock %}
                            </h3>
                        </div>
                        {% block page_actions_wrapper %}
                            <div class="page-actions">

                                {% if  app.request.query.get('filters')==null %}
                                    <a href="{{ path('eleves_tableau_excel',{ideditionequipe:app.session.get('edition').id~'-'~0}) }}"
                                       type="button" class="btn btn-primary">Extraire un tableau excel des élèves</a>

                                {% endif %}
                                {% if  app.request.query.get('filters')!=null %}
                                    {% if  app.request.query.get('filters').equipe is defined %}
                                        {% set idcentre= app.request.query.get('filters').centre.value %}
                                    {% else %}
                                        {% set idcentre= 0 %}
                                    {% endif %}

                                    {% if  app.request.query.get('filters').edition is defined %}

                                        <a href="{{ path('eleves_tableau_excel',{ideditionequipe:app.request.query.get('filters').edition.value~'-'~idequipe}) }}"
                                           type="button" class="btn btn-primary">Extraire un tableau excel des
                                            élèves</a>



                                    {% else %}

                                        <a href="{{ path('eleves_tableau_excel',{ideditionequipe:app.session.get('edition').id~'-'~idequipe}) }}"
                                           type="button" class="btn btn-primary">Extraire un tableau excel des
                                            élèves</a>

                                    {% endif %}
                                {% endif %}

                            </div>

                        {% endblock page_actions_wrapper %}
                    </div>
                </section>
            {% endblock content_header %}
        {% endblock content_header_wrapper %}
        {# <section id="main" class="content-body">
            {% block main%}

                {{ parent() }}
            {% endblock %}
        </section> #}
    </div>
{% endblock %}