{% extends "base1.html.twig" %}
{% block title %} Accueil Jury {% endblock %}



{% block navigation %}

    {{ include ('cyberjury/navigation.html.twig') }}

{% endblock %}
{% block titre3 %} Mes équipes {% endblock %}

{% block body %}
    <div class="small">Dans l'ordre de passage</div>
    {% for equipe in listeEquipes %}
        {% if equipe.equipeinter.lettre in progression|keys %}

            {% set lettre = equipe.equipeinter.lettre %}
            <p>
                <a
                        {% if (progression[lettre]) %}  class="btn btn-outline-primary btn-lg"
                        {% else %}class ="btn btn-primary btn-lg"
                        {% endif %}
                        href="{{ path('cyberjury_evaluer_une_equipe', {'id': equipe.id} ) }}">{{ equipe.equipeinter.lettre }}</a>
                {{ equipe.equipeinter.titreProjet }}
                {% if equipe.heure==null %}
                    {% set heure=' x ' %}
                {% else %}
                    {% set heure=equipe.heure %}
                {% endif %}
                {% if equipe.salle==null %}
                    {% set salle=' x ' %}
                {% else %}
                    {% set salle=equipe.salle %}
                {% endif %}
                <a href="#" class="fas fa-clock" title="{{ heure }} {{ salle }}"> </a>
                {% for key,mem in memoires %}
                    {% if key == lettre %}
                        {% if mem.publie==false %}
                            <a href="{{ asset('odpf/odpf-archives/'~equipe.equipeinter.edition.ed~'/fichiers/memoires/prive/'~ mem.fichier) }}"
                               class="fas fa-book-reader"
                               title="Accéder au mémoire de l'équipe" target="_blank"> </a>
                        {% endif %}
                        {% if mem.publie==true %}
                            <a href="{{ asset('odpf/odpf-archives/'~equipe.equipeinter.edition.ed~'/fichiers/memoires/public/'~ mem.fichier) }}"
                               class="fas fa-book-reader"
                               title="Accéder au mémoire de l'équipe" target="_blank"> </a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a href="{{ path('cyberjury_infos_equipe', {'id': equipe.id} ) }}" class="fas fa-info-circle"
                   title="En savoir plus sur cette équipe"> </a>
                <a href="{{ path('cyberjury_phrases_amusantes', {'id': equipe.id} ) }}" class="fas fa-pencil-alt"
                   title="Les phrases amusantes"> </a>
                {% if attributions[equipe.equipeinter.lettre]>0 %}
                    <a href="{{ path('cyberjury_recommandations', {'id': equipe.id,'origin':'liste'} ) }}"
                       class="far fa fa-list-ol"
                       title="Ecrire les remarques sur le mémoire"> </a>
                {% endif %}
                --
                {% for attribution in equipe.attributions %}
                    {% if attribution.estLecteur=='1' or attribution.estLecteur=='2' %}
                        {{ attribution.jure.prenomJure }} {{ attribution.jure.nomJure }}
                        {% if attribution.estLecteur=='1' %} (L) {% endif %}
                        {% if attribution.estLecteur=='2' %} (R) {% endif %}
                    {% endif %}
                {% endfor %}
                {#  <a href="{{ equipe.salleZoom }}" class="fas fa-wifi"
                   title="Vers la salle Zoom de l'équipe" target="_blank"> </a> #}
            </p>
        {% endif %}
    {% endfor %}

{% endblock %}