{% extends "base1.html.twig" %}
{% block title %} Évaluer une équipe {% endblock %}

{% block titre3 %}
    <span {% if (progression) %} class="btn btn-outline-primary btn-lg" {% else %} class="btn btn-primary btn-lg" {% endif %} >

        {{ equipe.equipeinter.lettre }} </span>  {{ equipe.equipeinter.titreProjet }}
    {% if memoire!=null %}
        <a href="{{ path('telecharger_un_fichier_prof',{'idFichier': memoire.id}) }}"
           class="fas fa-book-reader"
           title="Accéder au mémoire de l'équipe" target="_blank"> </a>
    {% endif %}

    <a href="{{ path('cyberjury_infos_equipe', {'id': equipe.id} ) }}" class="fas fa-info-circle"
       title="En savoir plus sur cette équipe"> </a>

    <a href="{{ path('cyberjury_phrases_amusantes', {'id': equipe.id} ) }}" class="fas fa-pencil-alt"
       title="Les phrases amusantes"> </a>
    <a href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': equipe.equipeinter.id~'-'~'national-'~'liste_cn_comite'} ) }}"
       class="far fa-address-card"
       title="Tous les fichiers de l'équipe(diaporama)"> </a>
    {% if flag==1 %}
        <a href="{{ path('cyberjury_recommandations', {'id': equipe.id,'origin':'evaluer'} ) }}"
           class="far fa fa-list-ol"
           title="Ecrire les remarques sur le mémoire"> </a>
    {% endif %}
{% endblock %}
{% block navigation %}

    {{ include ('cyberjury/navigation.html.twig') }}

{% endblock %}

{% block body %}

    {{ include ("cyberjury/form.html.twig") }}
{% endblock %}
{% block pied_de_page %}
{% endblock %}