{% extends "base1.html.twig" %}
{% block title %} Les prix {% endblock %}

{% block titre3 %} Les prix {% endblock %}

{% block navigation %}
    <button type="button" class="btn btn-outline-primary btn-lg btn-bloc"><span class="fas fa-user">  </span>
        {{ jure.prenomJure|title }} {{ jure.nomJure|title }}
    </button>

    {{ include ('cyberjury/navigation.html.twig') }}
{% endblock %}

{% block body %}

    <h2>
        Les premiers prix.
    </h2>

    <div>
        <table class="table table-striped">
            <thead>
            <tr class="danger">
                <th>Numéro</th>
                <th>Intitulé du prix</th>
            </tr>
            </thead>
            <tbody>
            {% for prix in ListPremPrix %}
                <tr class="danger">
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ prix.prix }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>
        Les deuxièmes prix.
    </h2>
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="warning">
                <th>Numéro</th>
                <th>Intitulé du prix</th>
            </tr>
            </thead>
            <tbody>
            {% for prix in ListDeuxPrix %}
                <tr class="warning">
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ prix.prix }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <h2>
        Les troisièmes prix.
    </h2>
    <div>
        <table class="table table-striped">
            <thead>
            <tr class="active">
                <th>Numéro</th>
                <th>Intitulé du prix</th>
            </tr>
            </thead>
            <tbody>
            {% for prix in ListTroisPrix %}
                <tr class="active">
                    <td>
                        {{ loop.index }}
                    </td>
                    <td>
                        {{ prix.prix }}

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}