<nav class="navbar navbar-default" style="padding-left: 0">

    {# <div class="container">
        <div class="ul"> #}
    <a href="{{ path('cyberjury_accueil') }}" type="button"
       class="fas fa-home list-group-item list-group-item-action" style="padding-left: 0"> Accueil du Jury</a>
    <a href="{{ path('cyberjury_tableau_de_bord',{'critere' : 'TOT', 'sens' : 'DESC'}) }}" type="button"
       class="fas fa-list list-group-item list-group-item-action" style="padding-left: 0"> Tableau de bord</a>

    <button class="far fa-bookmark btn btn-outline btn dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Informations
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{{ path('cyberjury_lesprix') }}"> Les Prix</a>
        <a class="dropdown-item" href="{{ path('cyberjury_lescadeaux') }}"> Les cadeaux</a>
        <a class="dropdown-item" href="{{ path('cyberjury_palmares') }}"> Le palmarès</a>
    </div>
    <a href="{{ path('logout') }}" type="button"
       class="fas fa-procedures list-group-item list-group-item-action" style="height: max-content;padding-left: 0">
        Déconnexion</a>
    {#  </div>
    </div> #}

</nav>