{% extends "base1.html.twig" %}
{% block title %} Fichier {% endblock %}
{% block titre3 %}
    {% set categorie=['du ','de l\'', 'du ','du ','de la ', 'du ','de l\'','du','de la '] %}


    {% if choix != '6' %}
        Dépôt   {{ categorie[choix] }}{{ type_fichier_lit[choix] }} de l'équipe :
        {% if donnees_equipe is defined %}
            {{ donnees_equipe }}
        {% endif %}
    {% endif %}
    {% if choix == '6' %}
        Dépôt  de l'autorisation photos de
        {% if citoyen is defined %}
            {{ citoyen.prenom }} {{ citoyen.nom }}
        {% endif %}
    {% endif %}

{% endblock %}

{% block navigation %}

{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}

    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger"> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}

    <div class="well">
        {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>
        <div class="form-group col-md-6">


            {{ form_row(form.fichier,{  'class':'custom-file-input'}) }}
        </div>

        <div class="form-group col-md-6">


            {{ form_row(form.typefichier,{  'class':'custom-file-input', 'label':'Type de document'}) }}
        </div>


        <div class="form-group col-md-6">
            {{ form_widget(form.save, { 'label': 'Déposer le fichier' }) }}

            <a href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': infos} ) }}" type="button"
               class="btn btn-danger">Annuler</a>

        </div>
        {{ form_end(form) }}


        {# {{ form(form) }} #}


    </div>
    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        {# <script src="./coverage/bs-custom-file-input.js"></script> #}
        <script>
            {# $(document).ready(function () {
                bsCustomFileInput.init()
            }) #}
            bsCustomFileInput.init()
        </script>
    {% endblock %}

{% endblock %}