{% extends "base1.html.twig" %}
{% block title %} Mon espace{% endblock %}

{% block navigation %}
    {% if app.user.roles|filter(v => v =='ROLE_ORGACIA')!=[] %}
        {{ include ("cyberjuryCia/navigation.html.twig") }}
    {% endif %}
{% endblock %}

{% block titre3 %}
    <div class="text-center">Concours {{ phase }}<br>

        {% if app.user.roles|filter(v => v =='ROLE_JURY') %}
            {% if jure != null %}
                {{ jure.prenomJure }}   {{ jure.nomJure }}
            {% endif %}
            <br> membre du jury
        {% elseif app.user.roles|filter(v => v =='ROLE_PROF')!=[] %}
            {{ app.user.prenom }} {{ app.user.nom }}<br>
            Lycée {{ uaiObj.nom }} de {{ uaiObj.commune }}
        {% endif %}
        {% if app.user.roles|filter(v => v =='ROLE_PROF')==[] %}
            {% if app.user.roles|filter(v => v =='ROLE_COMITE')=='ROLE_COMITE' %}
                <br>Membre du comité national
            {% endif %}
            {% if phase=='interacadémique' %}

                <br>Liste des équipes du centre de {{ centre }}

            {% endif %}
        {% endif %}
        {% if phase=='national' %}

            <br>Voir les fichiers d'une équipe

        {% endif %}

        {% if app.user.roles|filter(v => v =='ROLE_PROF') %}
            {% if choix=='liste_prof' %}
                <br>Les  équipes de l'établissement

            {% endif %}
        {% endif %}

    </div>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info"> {{ message }}</div>
        {% endfor %}


        <hr>
        {% if   phase =='interacadémique' %}
            {% set concours='inter' %}
            {% if liste_equipes == null %}
                <p> Pas d'équipe inscrite</p>

            {% endif %}


            {% for equipe in liste_equipes %}
                <div class="row">
                    <div class="col">
                        <b>{{ equipe.numero }}</b> - {{ equipe.titreProjet }}
                        {% if is_granted('ROLE_PROF' ) %}
                            <h8><i> (Lycee {{ equipe.uaiId.nom }}, {{ equipe.uaiId.commune }})</i></h8>
                        {% endif %}
                        {% if equipe.inscrite== false %}
                            <div class="inscritered"><i>(Equipe non inscrite)</i></div>
                        {% endif %}
                        <hr>
                        {% set infos =  equipe.id ~ '-'~phase~'-'~choix %}
                    </div>

                    <div class="col">


                        <a class="btn btn-primary"
                           href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': infos} ) }}">Choisir
                            cette équipe</a>


                    </div>

                </div>
                <hr>
            {% endfor %}

        {% endif %}
        {% if   phase =='national' %}
            {% set concours='cn' %}
            {% if date()<app.session.get('edition').dateouverturesite and date()>app.session.get('editionN1').concourscn and liste_equipes!=null %}
                <div class="row">
                    <div class="col">
                        <p style="color:red; text-align: center">Equipes de la précédente édition</p>
                    </div>
                </div>
            {% endif %}
            {% for equipe in liste_equipes %}
                <div class="row">
                    <div class="col">
                        {% if   equipe.lettre!=null %} <b> {{ equipe.lettre }}</b>  {% else %}
                            <b>{{ equipe.numero }}</b>{% endif %}
                        - {{ equipe.titreProjet }}
                        {% if is_granted('ROLE_PROF') %}
                            <h8><i> (Lycee {{ equipe.uaiId.nom }}, {{ equipe.uaiId.commune }})</i></h8>
                        {% endif %}

                    </div>

                    <div class="col">

                        {% set infos =  equipe.id ~ '-'~phase~'-'~choix %}
                        {% if (choix=='liste_prof') or (choix=='liste_cn_comite') %}
                            <a class="btn btn-primary"
                               href="{{ path('fichiers_afficher_liste_fichiers_prof', {'infos': infos} ) }}">Choisir
                                cette équipe</a>
                        {% endif %}


                    </div>

                </div>
                <hr>
            {% endfor %}

        {% endif %}
    </div>
    {% if app.user.roles|filter(v => v =='ROLE_PROF')!=[] %}
        <div class="table">
            <tr>
                <td> {% if date()< app.session.get('edition').dateclotureinscription and date()>=app.session.get('edition').dateouverturesite %}
                        <a type="button" class="btn btn-primary" href="{{ path('inscrire_equipe',{idequipe : 'x'}) }}"
                           title="Inscrire une nouvelle équipe">Nouvelle équipe</a>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>
                    {% if liste_equipes!=null %}
                        {% if  'now'|date('Y-m-d')<= app.session.get('edition').concourscn|date('Y-m-d') and 'now'|date('Y-m-d')>app.session.get('edition').dateouverturesite|date('Y-m-d') %}
                            <a type="button" class="btn btn-warning"
                               href="{{ path('photos_deposephotos', {concours:'inter'}) }}" role="button"
                               aria-pressed="true" title="Déposer des photos du concours interacadémique">Déposer des
                                photos des équipes du concours interacadémique</a>
                            <a type="button" class="btn btn-info"
                               href="{{ path('photos_gestion_photos',{infos:concours~'-'~app.session.get('edition').id~'-prof-1'}) }}"
                               title="Modifier ou supprimer certaines photos">Gerer les photos</a>

                        {% endif %}
                        {#  {% if (('now'|date('Y-m-d')> app.session.get('edition').concourscia|date('Y-m-d')) and ('now'|date('Y-m-d')< app.session.get('edition').concourscn|date('Y-m-d'))) %}
                            <a type="button" class="btn btn-warning"
                               href="{{ path('photos_deposephotos',{concours:'cn'}) }}" role="button"
                               aria-pressed="true"
                               title="Déposer des photos du concours national">Déposer des photos des équipes du
                                concours national</a>
                            <a type="button" class="btn btn-info"
                               href="{{ path('photos_gestion_photos',{infos:concours~'-'~app.session.get('edition').id~'-prof-1'}) }}"
                               role="button" aria-pressed="true" title="Modifier ou supprimer certaines photos">Gérer
                                les
                                photos des épreuves nationales de la {{ app.session.get('edition').ed }}<sup>e</sup></a>

                        {% endif %}
                          {% if 'now'|date('Y-m-d')>app.session.get('editionN1').concourscn|date('Y-m-d') and 'now'|date('Y-m-d')<app.session.get('edition').dateouverturesite|date('Y-m-d') %}
                            <a type="button" class="btn btn-warning"
                               href="{{ path('photos_deposephotos',{concours:'cn'}) }}" role="button"
                               aria-pressed="true"
                               title="Déposer des photos du concours national">Déposer des photos des équipes du
                                concours national</a>
                            <a type="button" class="btn btn-info"
                               href="{{ path('photos_gestion_photos',{infos:concours~'-'~app.session.get('editionN1').id~'-prof-1'}) }}"
                               role="button" aria-pressed="true" title="Modifier ou supprimer certaines photos">Gérer
                                les
                                photos des épreuves nationales de la {{ app.session.get('editionN1').ed }}
                                <sup>e</sup></a>
                        {% endif %}
                        #}


                    {% endif %}
                </td>
            </tr>
        </div>
        {% if doc_equipes!=null %}
            <div class="container-fluid">
                <h3 style="text-align:center">
                    Documents à télécharger
                </h3>
                <table class="table table-responsive table-bordered text-center">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Titre du document</th>
                        <th scope="col">Description</th>
                        <th scope="col">Télécharger</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fichier in doc_equipes %}
                        <tr>
                            <td>{% if fichier.type=='pdf' %} <img src="{{ asset('images/pdf_icon.png') }}" width="50px"
                                                                  alt="pdf">
                                {% elseif fichier.type=='zip' %} <img src="{{ asset('images/icon_zip.png') }}"
                                                                      width="50px" alt="zip">
                                {% elseif fichier.type=='doc' %} <img src="{{ asset('images/Doc-icon.svg') }}"
                                                                      width="50px" alt="doc">

                                {% endif %}

                            </td>
                            <td>{{ fichier.titre }}</td>
                            <td>{{ fichier.description }}</td>
                            <td><a href="{{ asset('docequipes/'~fichier.fichier) }}">
                                    <button type="button" title="Télécharger"><i class="fas fa-download"></i></button>
                                </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>



        {% endif %}
    {% endif %}
    {% if centre is defined %}
        {% if app.user.roles|filter(v => v =='ROLE_ORGACIA')!=[] %}
            <div style="text-align:center">
                <a href="{{ path('secretariatjuryCia_accueil',{'centre':app.user.centrecia}) }}">Cyberjury</a>

            </div>
        {% elseif  app.user.roles|filter(v => v =='ROLE_COMITE')!=[] or app.user.roles|filter(v => v =='ROLE_SUPER_ADMIN')!=[] %}
            <div style="text-align:center">
                <a href="{{ path('fichiers_choix_centre') }}">Retour à la liste des centres</a>

            </div>
        {% elseif  app.user.roles|filter(v => v =='ROLE_JURYCIA')!=[] %}
            <div style="text-align:center">
                <a href="{{ path('cyberjuryCia_accueil') }}">Cyberjury</a>

            </div>
        {% elseif  app.user.roles|filter(v => v =='ROLE_PROF')!=[] %}
            <div style="text-align:center">
                <a href="{{ path('core_home') }}">Retour à l'accueil</a>

            </div>


        {% endif %}
    {% endif %}
    {% if app.session.get('info')!='' %}
        {{ include('modales/modale_info.html.twig') }}
    {% endif %}
    {{ app.session.set('info','') }}

{% endblock %}
