{% extends "base1.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %}
    {% if concours =='interacadémique' %}
        Equipe {{ equipe.infoequipe }}
    {% else %}
        Equipe {{ equipe.infoequipenat }}
    {% endif %}
{% endblock %}

{% block titre3 %}
    <div class="text-center">
        {{ edition.ed }}<sup>e</sup> édition :
        {% if concours =='interacadémique' %}
            Concours interacadémique <br>
            {% if centre != null %}
                Centre de {{ centre.centre }}<br>
            {% endif %}
        {% endif %}
        {% if concours =='national' %}
            Concours national<br>
        {% endif %}
        <h4> Equipe "{{ equipe.titreProjet }}" du lycée {{ equipe.rneId.nom }} de {{ equipe.rneId.commune }}</h4>
        <br>
    </div>


{% endblock %}
{% block body %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('alert') %}
        <div class="alert alert-danger"> {{ message }}</div>
    {% endfor %}
    {% for message in app.session.flashbag.get('success') %}
        <div class="alert alert-info"> {{ message }}</div>
    {% endfor %}


    <blockquote class="blockquote text-center">
        <p class="mb-0">

            L'équipe {% if equipe.lettre == null %}{{ equipe.numero }}{% elseif equipe.lettre != null %}{{ equipe.lettre }}{% endif %}  {{ equipe.titreprojet }}
        </p>
    </blockquote>
    <div class="container-fluid">
        <div class="row">
            <div class="col">

                <b>Titre du projet :</b> {{ equipe.titreprojet }} {% if equipe.inscrite==false %}
                    <div class="fichiernondepose">(non inscrite)</div>{% endif %}

            </div>
        </div>
        <div class="row">
            <div class="col">
                <b> Les élèves : </b>
                {% for eleve in listeEleves %}
                    {{ eleve.prenom }} {{ eleve.nom }},
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">

                <b>Les professeurs : </b>
                {% for prof in liste_prof %}
                    {{ prof.prenom }} {{ prof.nom }},
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">

                <b>Lycée : </b>{{ equipe.rneId.nom }} de {{ equipe.rneId.commune }} ({{ equipe.rneid.codePostal }})


            </div>
        </div>
        {% if app.user.roles|filter(v => v =='ROLE_PROF') %}
            <div class="row">
                <div class="col">

                    <a href="{{ path('inscrire_equipe', {'idequipe': equipe.id} ) }}" type="button"
                       class="btn btn-primary">Modifier </a>
                </div>
                <div class="col">
                    {% if is_granted('ROLE_PROF') %}

                        <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'}) }}">Retour
                                à la liste des équipes</a></div>

                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>



    <hr>


    {# ############################# LISTE DES FICHIERS ################################################################ #}

    {% include 'adminfichiers/listefichiers.html.twig' %}

    {# ############################# LISTE DES VIDEOS ################################################################## #}

    {% include 'adminfichiers/listevideos.html.twig' %}

    {# ############################# LISTE DES AUTORISATIONS PHOTOS ##################################################### #}

    {% include 'adminfichiers/listeautorisations.html.twig' %}

    {# ############################# FIN DE LA PAGE ESPACE PROFESSEUR ################################################### #}
    <div class="well">
        {% if is_granted('ROLE_COMITE') or is_granted('ROLE_JURYCIA') or is_granted('ROLE_JURY') or is_granted('ROLE_ORGACIA') %}

            {% if concours=='interacadémique' %}
                <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix: centre.centre}) }}">Retour à
                        la liste des équipes</a></div>
            {% endif %}
            {% if concours=='national' %}
                <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix:'liste_cn_comite'}) }}">Retour
                        à la liste des équipes</a></div>
            {% endif %}
        {% endif %}
        {% if app.user.roles|filter(v => v =='ROLE_PROF') %}

            <div class="text-center"><a href="{{ path('fichiers_choix_equipe',{choix:'liste_prof'}) }}">Retour à la
                    liste des équipes</a></div>

        {% endif %}
    </div>
    {# #############################MODAL######################################MODAL#########################MODAL#########################MODAL#########################MODAL#########################MODAL#########################MODAL#########################MODAL#########################MODAL#########################MODAL######################### #}

    <div class="modal fade" id="modalconfirm" tabindex="-1" role="dialog">{# pour les vidéos #}
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title" id="ModalconfirmLabel">Confirmation de la suppression de la vidéo </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="alert hidden" role="alert" id="modalAlert"></div>
                    <form name="confirm_form" id="confirm_form"
                          action="{{ path('videos_liens_videos',{infos: equipe.id~'-'~concours~'-'~'supprimer'} ) }}">
                        <input type="hidden" id="myModalID" name="myModalID" value="recipient-name"/>
                        <button type="submit" id="submit_form" class="btn btn-primary">Effacer</button>
                        <p>Voulez-vous effacer cette video ?.<h6 id="modal_body"></h6> </p>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalfichier" tabindex="-1" role="dialog">{#  pour les fichiers  #}
        <div class="modal-dialog" role="document">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalfichierLabel">Le précédent fichier sera écrasé </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">

                    <div class="alert hidden" role="alert" id="modalAlert"></div>
                    <form name="confirm_fichier" id="confirm_fichier"
                          action="{{ path('fichiers_charge_fichiers',{infos:equipe.id~'-'~concours~'- -1'}) }}">
                        <input type="hidden" id="FichierID" name="FichierID" value="recipient-name"/>

                        <p><h6 id="modal_body">Attention ! <br>Le précédent fichier sera écrasé. Il n'y a pas de
                            possibilité de récupération. Voulez-vous poursuivre ?</h6> </p>
                        <button type="submit" id="submit_form" class="btn btn-danger">OUI</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Non</button>
                </div>

            </div>
        </div>
    </div>

    {# ##################################################################################javascript################################################################################## #}

    {% block javascripts %}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

        <script type="text/javascript">
            $('#modalconfirm').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('idvideo');
                console.log(recipient)// Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Attention')
                modal.find('.modal-body input').val(recipient)
            });
        </script>

        <script type="text/javascript">{#  pour les fichiers #}
            $('#modalfichier').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('idfichier');
                console.log(recipient)// Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text('Attention')
                modal.find('.modal-body input').val(recipient)
            });
        </script>
        <script type="text/javascript">{# pour les vidéos #}
            /* must apply only after HTML has loaded */
            $(document).ready(function () {
                $("#confirm_form").on("submit", function (e) {
                    var formURL = $(this).attr("action");
                    $.ajax({
                        url: formURL,
                        type: "POST",
                        data: {
                            id: $("#myModalID").val()
                        },
                        console.log(data),

                        success: function (data) {
                            alert('successfully submitted')
                        }
                    });
                    $("#submit_form").on('click', function () {
                        $("#confirm_form").submit();
                    });
                });

            });
        </script>
        <script type="text/javascript">
            /* must apply only after HTML has loaded */
            $(document).ready(function () {
                $("#confirm_fichier").on("submit", function (e) {
                    var formURL = $(this).attr("action");
                    console.log(formURL);
                    $.ajax({
                        url: formURL,
                        type: "GET",
                        data: {
                            id: $("#FichierID").val(),
                            typefichier: $("#typefichier").val
                        },


                        success: function (data) {
                            alert('successfully submitted')
                        };
                    });
                });
                $("#submit_form").on('click', function () {
                    $("#confirm_fichier").submit();
                });
            });


        </script>



    {% endblock %}
{% endblock %}