{% extends "base1.html.twig" %}







{% block title %}

    {{ edition.edition }}   Les photos des Olympiades de Physique {% endblock %}



{% block titre3 %}
    <div class="text-center"> Les photos de la {{ edition.edition }}<sup>e</sup> édition</div></br>


{% endblock %}


{% block body %}

    <a class="btn-primary" href="javascript:history.back()">Retour</a>
    <!--Carousel Wrapper-->
    <div class="col-lg-10">
        <div class="row mx-auto my-auto">

            <div id="carousel" class="carousel slide w-100" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% set i = 0 %}
                    {% for photo in photos %}
                        {% if i==0 %}
                            <li data-target="#carousel" data-slide-to="{{ i }}" class="active">
                            </li>
                        {% endif %}
                        {% if i>0 %}
                            <li data-target="#carousel" data-slide-to="{{ i }}">
                            </li>
                        {% endif %}
                        {% set i =i+ 1 %}
                    {% endfor %}
                </ol>
                <!--Slides-->
                <div class="black">
                    <div class="carousel-inner w-100 black" role="listbox">

                        {% set i = 1 %}
                        {% for photo in photos %}
                            {% if i==1 %}
                                <div class="carousel-item col-lg-4 col-md-6 active">
                                    <div class="container-fluid">


                                        <div class="containercarousel" onclick="modalShow({{ i }})">
                                            <div class="d-flex h-100 align-items-center justify-content-center">
                                                <div class="p-2">
                                                    <a href="#">
                                                        <img src="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                                             class="img-fluid" id="photo{{ i }}">
                                                    </a>
                                                </div>

                                                <div class="p-2">
                                                    {% if photo.coment !='' %}
                                                        <div class="text" id="caption{{ i }}">
                                                            <font size="-2">{{ photo.coment }}</font>
                                                        </div>
                                                    {% else %}
                                                        <div class="text" id="caption{{ i }}">
                                                            <font size="-2">{{ photo.equipepassee.titreProjet }}</font>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                            {% if i>1 %}
                                <div class="carousel-item col-lg-4 col-md-6">
                                    <div class="container-fluid">


                                        <div class="containercarousel" onclick="modalShow({{ i }})">
                                            <div class="d-flex h-100 align-items-center justify-content-center">
                                                <div class="p-2">
                                                    <a href="#">
                                                        <img src="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                                             class="img-fluid" id="photo{{ i }}">
                                                    </a>
                                                </div>

                                                <div class="p-2">
                                                    {% if photo.coment !='' %}
                                                        <div class="text" id="caption{{ i }}">
                                                            <font size="-2">{{ photo.coment }}</font>
                                                        </div>
                                                    {% else %}
                                                        <div class="text" id="caption{{ i }}">
                                                            <font size="-2">{{ photo.equipepassee.titreProjet }}</font>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% endif %}
                            {% set i = i+1 %}
                        {% endfor %}

                    </div>
                </div>

                <div style="background:black;">
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <img src="{{ asset('odpf/odpf-images/diapo-arwl-37x37.png') }}" style="align-self: flex-end; "
                             alt=""/>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <img src="{{ asset('odpf/odpf-images/diapo-arwr-37x37.png') }}" style="align-self: flex-end;"
                             alt=""/>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
            </div>

        </div>


        <div class="smallsize">{{ i-1 }} photos(une par équipe)</div>
        <br>
    </div>
    {% set i=1 %}
    <div class="text-center">
        <div class="smallsize">Cliquer sur le n° ou la lettre de l'équipe pour voir ses photos</div>


        {% for photo in photos %}

            <a href="{{ path('photos_voir_galerie',{infos:'equipe-'~photo.equipepassee.id}) }}"
               title="{{ photo.equipepassee.titreProjet }}" type="button" class="btn btn-warning" style="width: 60px;">

                {% if  photo.equipepassee.numero != null %}
                    {{ photo.equipepassee.numero }}
                {% endif %}
                {% if  photo.equipepassee.lettre != null %}
                    ({{ photo.equipepassee.lettre }})
                {% endif %}
            </a>

            {% set i= i+1 %}
        {% endfor %}

    </div>
    <!-- The Modals -->

    <div class="modal-gal">
        <span class="close">&times;</span>
        <img class="modal-content-gal">
        <div class="modal-caption-gal"></div>
        <a href="" class="btn" target="_self" download="">Enregistrer l'image</a>
    </div>

    {% block javascripts %}



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript">
            slides = document.getElementsByClassName("containercarousel");
            imgs = document.getElementsByClassName("img-fluid");
            modal = document.getElementsByClassName("modal-gal");
            modalImg = document.getElementsByClassName("modal-content-gal");
            modalCap = document.getElementsByClassName("modal-caption-gal");

            function modalShow(j) {
                var img = document.getElementById("photo".concat(j));
                var cap = document.getElementById("caption".concat(j));
                modalhref = document.getElementsByClassName("btn");
                modalImg[0].src = img.src.replace('/thumbs/', '/');
                modalImg[0].style.height = "250px";
                if (cap != null) {
                    modalCap[0].innerHTML = cap.innerHTML;
                }
                modalhref[0].href = modalImg[0].src;
                let array = modalImg[0].src.split('/');
                length = array.length;
                let file = array[length - 1];
                file = file.split('%20').join('_');
                modalhref[0].download = file;
                modal[0].style.display = "block";

            }

            span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal[0].style.display = "none";
            }

            function modalClose() {
                modalImg[0].style.display = "none";
            }

            $('#carousel').carousel({
                interval: 5000
            })

            $('.carousel .carousel-item').each(function () {
                var minPerSlide = 4;
                var next = $(this).next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));

                for (var i = 0; i < minPerSlide; i++) {
                    next = next.next();
                    if (!next.length) {
                        next = $(this).siblings(':first');
                    }

                    next.children(':first-child').clone().appendTo($(this));
                }
            });


        </script>

        <script type="text/javascript">


        </script>



    {% endblock %}






{% endblock %}
