{% extends "base1.html.twig" %}




{% block title %}

    {{ edition.edition }}   Les photos des Olympiades de Physique {% endblock %}



{% block titre3 %}
    <div class="text-center"> Les photos de la {{ edition.edition }}<sup>e</sup> édition</div></br>
    {% if liste_equipes|length ==1 %}
        <div class="color" style="color:blue">Equipe {{ liste_equipes[0].lettre }}
            : {{ liste_equipes[0].Titreprojet }} </div>
    {% elseif liste_equipes|length >1 %}
        <div class="color" style="color:blue">Edition {{ edition.edition }}  </div>
    {% endif %}

{% endblock %}


{% block body %}
    <!--Carousel Wrapper-->

    <div class="row ">
        <div class="col-lg-10">
            <div id="carousel" class="carousel" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% set i = 0 %}
                    {% for photo in photos %}
                        {% if i==0 %}
                            <li data-target="#carousel" data-slide-to="{{ i }}" class="active"></li>
                        {% endif %}
                        {% if i>0 %}
                            <li data-target="#carousel" data-slide-to="{{ i }}"></li>
                        {% endif %}
                        {% set i =i+ 1 %}
                    {% endfor %}
                </ol>
                <!--Slides-->
                <div class="black">

                    <div class="carousel-inner  black" role="listbox"
                         style="display: flex; flex-wrap: nowrap;flex-direction: row;flex-flow: nowrap">

                        {% set i = 1 %}
                        {% for photo in photos %}
                            {% if i ==1 %}
                                <div class="carousel-item active " style="flex-shrink: 0;">


                                    <a href="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/'~photo.photo) }}">


                                        <img src="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                             class="img-fluid " alt="" style="height:200px; width:auto;">


                                        {% if photo.coment !='' %}
                                            <div class="text">
                                                <div style="font-size:8px">{{ photo.coment }}</div>
                                            </div>
                                        {% endif %}

                                    </a>


                                </div>
                            {% endif %}
                            {% if i>1 %}
                                <div class="carousel-item" style="flex-shrink: 0;">

                                    <a href="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/'~photo.photo) }}">


                                        <img src="{{ asset('odpf/odpf-archives/'~edition.edition~'/photoseq/thumbs/'~photo.photo) }}"
                                             class="img-fluid " style="height:200px; width:auto;" alt="">


                                        {% if photo.coment !='' %}
                                            <div class="text">
                                                <div style="font-size:8px">{{ photo.coment }}</div>
                                            </div>
                                        {% endif %}


                                    </a>
                                </div>



                            {% endif %}
                            {% set i = i+1 %}
                        {% endfor %}

                    </div>
                </div>
                <div style="background:black;">
                    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <font size="-2">{{ i-1 }} photos</font>
    <br>


    <a href="">Retour</a>







{% endblock %}
 {% block javascripts %}


     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
             integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
             crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
             integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
             crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
             integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
             crossorigin="anonymous"></script>
     <script type="text/javascript">

         <script type="text/javascript">
             $('#carousel').carousel({
             interval: 4000
         })
     </script>
     <script type="text/javascript">
         $('.carousel .carousel-item').each(function () {
             var minPerSlide = 4;
             var next = $(this).next();
             if (!next.length) {
                 next = $(this).siblings(':first');
             }
             next.children(':first-child').clone().appendTo($(this));

             for (var i = 0; i < minPerSlide; i++) {
                 next = next.next();
                 if (!next.length) {
                     next = $(this).siblings(':first');
                 }

                 next.children(':first-child').clone().appendTo($(this));
             }
         });

     </script>





 {% endblock %}
