{% extends "base1.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          id="bootstrap-css">



{% endblock %}
{% block title %} {{ edition.ed }}   Les photos des épreuves interacadémiques {% endblock %}



{% block titre3 %}{{ edition.ed }}<sup>e</sup> Les photos  des épreuves interacadémiques  {% endblock %}


{% block body %}

    <div class="row justify-content-start-md-center">
        {% set m = 0 %}
        {% for centre in liste_centres %}

            {% set n= 0 %}
            {% for photo in liste_photos %}

                {% if photo.equipe.centre.centre == centre.centre %}
                    {% set n= n+1 %}
                {% endif %}
            {% endfor %}
            {% if n >0 %}
                <div class="col-lg-2   col-sm-3">
                    <a href="{{ path('photos_galleryphotos',{infos : 'cia-'~edition.id~'-'~centre.id~'-'~choix}) }}">
                        <h8>
                            <button type="button" class="btn btn-primary">{{ centre.centre }} </button>
                        </h8>
                    </a>

                    <div id="carousel{{ centre.centre }}" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" style="max-width:300px; height:250px !important;" bkgcolor="black">
                            {% set i = 1 %}
                            {% for photo in liste_photos %}

                                {% if photo.equipe.centre.centre == centre.centre %}
                                    {% if i==1 %}
                                        <div class="carousel-item active" data-interval="5000">

                                            <center><img src=" {{ asset('upload/photos/thumbs/'~photo.photo) }}"
                                                         alt="{{ photo.equipe.TitreProjet }}" width="auto" height="200">
                                            </center>

                                            {# <center><div style="background:black;"> <font color="white" size="-2">photo {{i}}/{{n}}</font></div></center> #}
                                        </div>
                                    {% endif %}
                                    {% if i>1 and i<5 %}
                                        <div class="carousel-item">

                                            <center><img src=" {{ asset('upload/photos/thumbs/'~photo.photo) }}"
                                                         alt="{{ photo.equipe.TitreProjet }}" width="auto" height="200">
                                            </center>

                                            {# <center><div style="background:black"><font color="white" size="-1">{{photo.equipe.titreProjet}} </font><br> <font color="white" size="-2"> photo {{i}}/{{n}}></font></div></center> #}
                                        </div>
                                    {% endif %}
                                    {% set i= i+1 %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% set m = m+1 %}
                    </div>
                    </a>
                </div>
                {% if m%3 == 0 %}
                    <div class="w-100"></div>

                {% endif %}

            {% endif %}



        {% endfor %}
    </div>


    <a href="{{ path('archives_fichiers_photos',{choix:choix}) }}">Retour</a>


    {% block javascripts %}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>






    {% endblock %}



{% endblock %}