{% extends "base1.html.twig" %}
{% block title %} Photos{% endblock %}
{% block titre3 %}  Suppression d'une photo de

    {% if lettre_equipe  is defined %}
        l'équipe {{ lettre_equipe }}
    {% else %}

        l'équipe <br>{{ photo.equipe.titreProjet }}

    {% endif %}
{% endblock %}

{% block navigation %}

{% endblock %}

{% block body %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-danger" role="alert"> {{ message }}</div>
    {% endfor %}

    <img src="{{ asset('/upload/photos/thumbs/'~photo.photo) }}">

    {{ form_start(form) }}

    <div class="form-group row">
        <div class="coll">
            {{ form_row(form.OUI) }}
        </div>

        <div class="coll-10">
            {{ form_row(form.NON) }}
        </div>
    </div>
    {{ form_end(form) }}


    {#
    <div class="row">
        <div class="col-sm-10" >form_row(form.OUI)</div>
        <div class="col-sm-2" >form_row(form.NON)</div>
    </div> #}

{% endblock %}